<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228880268807-3gmsv8d0sf2li1h7ep10jl8ttimk89up.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228880268807-3gmsv8d0sf2li1h7ep10jl8ttimk89up</string>
	<key>API_KEY</key>
	<string>AIzaSyDY_fksGPvMjHYNLirBiGXspTeuJfsC-LY</string>
	<key>GCM_SENDER_ID</key>
	<string>228880268807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.comptrainsport.dev</string>
	<key>PROJECT_ID</key>
	<string>comptrain-c551d</string>
	<key>STORAGE_BUCKET</key>
	<string>comptrain-c551d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228880268807:ios:0607219488cfef98f2f4a2</string>
</dict>
</plist>